body, #pageContent, .gw-card-layout .a-cardui, .a-price, .a-color-base, a, a:active, a:link, a:visited, .hud-redesign-fresh-quad-products,
.hud-redesign-fresh-overlay, .hud-redesign-fresh-quad-col-0, .hud-redesign-fresh-quad-col-1, .gw-card-layout .desktop-row > div, .a-button-text,
.deals-shoveler .dealPrice.soldOutPrice, .deals-shoveler .dealPrice, #squished-desktop-row .desktop-row, .navLeftFooter, .navFooterBackToTopText,
#navFooter.navLeftFooter .navFooterDescLine, #rhf .rhf-fresh-header, #navbar.nav-bluebeacon #nav-main, #navbar.nav-bluebeacon #nav-belt,
.nav-searchbar #twotabsearchtextbox, #navbar.nav-bluebeacon #nav-search .nav-search-submit, .nav-flyout, .nav-tpl-discoveryPanelList .nav-text,
.nav-tpl-discoveryPanelSummary .nav-text, .nav-tpl-itemList .nav-text, #navbar .nav-flyout-sidePanel,
#nav-timeline.nav-timeline-asin-title-enabled .nav-timeline-img-holder, .nav-timeline-item, #hmenu-container #hmenu-canvas, .av-retail-m-nav-container,
.DigitalVideoWebNodeStorefront_FiltersNav__FiltersNav.DigitalVideoWebNodeStorefront_FiltersNav__FiltersNav, .DigitalVideoWebNodeStorefront_Storefront__Storefront,
.avu-content-dark, .avu-section, ._1fCWtj, .avu-content-aui, .a-expander-partial-collapse-header, .navFooterLine, #store-disclaimer_feature_div table,
.a-ordered-list .a-list-item, .a-unordered-list .a-list-item, ol .a-list-item, ul .a-list-item, #detail-bullets ul, #feature-bullets-btf ul, #technical-data ul,
#actionPanelWrapper, #actionPanel #merchant-info, .a-color-secondary, #nav-subnav, .a-box, .burj .mbcDivider, .burj-body #AUI_A9AdsMiddleBoxTop h2,
.burj-body #CustomerDiscussions h2, .burj-body #comparison_table_title, .burj-body #customer-discussions_feature_div h2, .burj-body #customerReviewsHeader,
.burj-body #detailpage-click2call-header, .burj-body #giveaway h2, .burj-body #hmdFormDiv h2, .burj-body #need-help-deciding .secHeader, .burj-body #pf-fitment-wrapper h2,
.burj-body #prodDetails h2, .burj-body #revMHLContainer h2, .burj-body #reviewBucketHeader, .burj-body #reviewContainer h2, .burj-body #rhfMainHeading,
.burj-body #sponsored-products-dp_feature_div h2, .burj-body .bucket h2, .burj-body .cdInlineAskBoxTitle, .burj-body .cdQuestionAnswerHeader,
.burj-body .pa_componentTitleTest h2, .burj-body h2.amtcmp, .burj-body h2.askWidgetHeader, .burj-body h2.featureHeading, .prestige_beauty.burj-body #cm_cr_dpwidget > h2,
.askTypicalExamples, .askExampleQuestion, .a-popover-inner, #rhf .rhf-header, #rhf #rhf-shoveler, #pet_pmp_desktop .pet_card,
#pet_pmp_desktop, .ped_carousel_container, #mako-subnav {
    color: #ccc !important;
    background-color: #181818 !important;
    border-color: #555 !important;
}

table.a-bordered tr:nth-child(even) {
    color: #181818 !important;
    background-color: #555 !important;
    border-color: #555 !important;
}

    table.a-bordered tr:nth-child(even) .a-color-base, table.a-bordered tr:nth-child(even) .a-link-normal {
        color: #ccc !important;
        background-color: #555 !important;
        border-color: #555 !important;
    }

.comparison_table tr:nth-child(even) td.comparison_baseitem_column, .comparison_baseitem_column {
    color: #555 !important;
    background-color: #ccc !important;
    border-color: #181818 !important;
}

    .comparison_table tr:nth-child(even) td.comparison_baseitem_column .a-color-base, .comparison_baseitem_column .a-color-base,
    .comparison_table tr:nth-child(even) td.comparison_baseitem_column a, .comparison_baseitem_column a, .comparison_baseitem_column .a-price,
    .comparison_table tr:nth-child(even) td.comparison_baseitem_column .a-price, .comparison_table tr:nth-child(even) td.comparison_baseitem_column .a-color-secondary,
    .comparison_baseitem_column .a-color-secondary {
        color: #181818 !important;
        background-color: #ccc !important;
        border-color: #181818 !important;
    }

#hmenu-container #hmenu-canvas #hmenu-content ul.hmenu li a, #hmenu-container #hmenu-canvas #hmenu-content ul.hmenu li a:hover, #hmenu-container #hmenu-canvas #hmenu-content ul.hmenu li a:visited {
    text-decoration: none;
    color: #ccc;
}

html:not(.a-touch) #hmenu-container #hmenu-canvas #hmenu-content ul.hmenu li a.hmenu-item:hover {
    background-color: #232f3e !important;
}

#nav-search .nav-searchbar.nav-active, #nav-search .nav-searchbar.nav-focus, #pet_pmp_desktop .pet_card {
    box-shadow: none !important
}

.nav-timeline-line, #navbar.nav-bluebeacon #nav-search .nav-searchbar.nav-active .nav-search-field, #navbar.nav-bluebeacon #nav-search .nav-searchbar.nav-active
.nav-search-scope, #navbar.nav-bluebeacon #nav-search .nav-searchbar.nav-focus .nav-search-field, #navbar.nav-bluebeacon #nav-search .nav-searchbar.nav-focus .nav-search-scope {
    border-color: #555 !important;
}

#amazonlive-react-page, .nav-catFlyout .nav-promo, #pageContent #gw-dashboard-grid #gw-dashboard-ad, #cbcc_banner, #pageContent #gw-hud-grid #gw-hud-sidekick,
.text-link-stripe, #gw-desktop-herotator, #gw-desktop-herotator .a-carousel-viewport, .uilm-section img, #ask_lazy_load_div hr, #customer_discussions_lazy_load_div hr,
#kfs-container, div.gbox-section {
    display: none;
}

#hero-quick-promo {
    margin-bottom: 0 !important;
    display: none !important;
}
